.bowerec
.cache
.dockerignore
.gitattributes
.gitignore
.git/
.github/
.gitlab-ci.yml
.idea
.travis.yml
auto-deploy
build.sh
chart/
codeception.yml
config/test.php
config/test_db.php
docker-compose.yml
Dockerfile
Dockerfile-nginx
requirements.php
runtime/*
tests/
vagrant/
Vagrantfile
web/assets/*
web/index-test.php
yii.bat
