.bowerec
.cache
.dockerignore
.gitattributes
.gitignore
.git/
.github/
.gitlab-ci.yml
.idea
.travis.yml
auto-deploy
build.sh
chart/
codeception.yml
docker-compose.yml
Dockerfile
runtime/*
tests/
vagrant/
Vagrantfile
web/assets/*
web/index-test.php
yii.bat
